@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Saira&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.text-gradient {
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-button {
    background: linear-gradient(#0A1225, #0A1225) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 12px;
    border: 2px solid transparent;
}

.gradient-line {
    border-radius: 50px;
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
}

.saira {
    font-family: Saira !important;
}

.gradient {
    background: linear-gradient(to right, #FF1CBB, #088CD9);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(107, 74, 219, 0.70);
}

body {
    overflow-y: hidden;
}