@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.text-gradient {
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-button {
    background: linear-gradient(#0A1225, #0A1225) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 12px;
    border: 2px solid transparent;
}

.gradient-userButton {
    background: linear-gradient(#28364C, #28364C) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 12px;
    border: 2px solid transparent;
}

.gradient-number {
    background: linear-gradient(#405C68, #405C68) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.gradient-gift {
    background: linear-gradient(#3D3456, #3D3456) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.gradient-gift {
    background: linear-gradient(#3D3456, #3D3456) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.gradient-circle {
    background: linear-gradient(#0A1D2C, #0A1D2C) padding-box,
        linear-gradient(#111931, #2D4283, #2B58DE, #2D4283, #111931) border-box;
    border-radius: 100%;
    border: 5px solid transparent;
}

.gradient-line {
    border-radius: 50px;
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
}

.gradient-border {
    border-radius: 12px;
    border: 2px solid transparent;
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));

}

.gradient-milestone1 {
    background: var(--New-linear-3, linear-gradient(143deg, #02DF85 0%, #7D318E 47.76%, #2104D5 94.54%));
}

.gradient-milestone2 {
    background: var(--New-liner, linear-gradient(143deg, #E4034F 0%, #9E3DB3 47.76%, #0BE1DE 94.54%));
}

.gradient-milestone3 {
    background: linear-gradient(143deg, #F29B3C 0%, #F359BF 47.76%, #D40059 94.54%);
}

.gradient-milestoneHeader {
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
}

.gradient-progressBarBg {
    background: var(--Spectrum, linear-gradient(180deg, rgba(100, 97, 89, 0.05) 21.45%, rgba(255, 234, 180, 0.25) 100%));
}

.bg-milestone {
    background: var(--bg2, linear-gradient(171deg, #1D123B 0%, #1B325E 51.63%, #1D123B 99.13%));
}

.gradient-milestoneBtn {
    border-radius: 12px;
    border: 1px solid var(--Common-white, #F5F5F5);
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
    box-shadow: 0px 4px 20px 0px rgba(107, 74, 219, 0.70);
}

.saira {
    font-family: Saira !important;
}

.gradient {
    background: linear-gradient(to right, #FF1CBB, #088CD9);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(107, 74, 219, 0.70);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.transition-custom {
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    transition: 0.5s;
}

.black-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 56.85%, #000000e4 90.32%), transparent 50% / cover no-repeat;
}

.oveerflow-fix {
    padding-top: 100px !important;
}

.continue_button {
    background: var(--linear-dark, linear-gradient(105deg, #7A115B -23.05%, #0B5783 88.21%));
}

.scrollOff::-webkit-scrollbar {
    width: 0;
}

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #FFED63 !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 10px;
}

.animated-image {

    animation: scaleLoop 2s infinite;
}

@keyframes scaleLoop {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.input-fix {
    outline: none;
}

.gradient-homepageBtn {
    background: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%));
}

.gradient-headerBlock {
    border: 2px solid;
    border-image: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%)) 1;
    border-radius: 50px;
}

.gradient-timeCounter {
    background: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%));
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-link {
    background: var(--New-CS-yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline;
    position: relative;
    display: inline-block;
}

.gradient-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--New-CS-yellow, linear-gradient(180deg, #FE8648 0%, #FE804D 100%));
}

.gradient-link2 {
    background: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline;
    position: relative;
    display: inline-block;
}

.gradient-link2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%));
}

.gradient-linkDouble {
    background: var(--New-CS-yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-withdrawBorder {
    border-bottom: 2px solid;
    border-image: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%)) 1;
    border-radius: 50px;
}

.gradient-tourToggle {
    background: linear-gradient(180deg, #FAD604 0%, #FE804D 100%);
}

.moving-element {
    transition: transform 0.5s ease;
    /* Анімація зміни положення зі згладжуванням */
}

.gradient-goodluck {
    background: linear-gradient(90deg, #FBD409 0.25%, #FF9141 32.18%, #FF3D7D 64.73%, #B415D7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dot-li {
    background: var(--New-CS-yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feedShow {
    animation: fadeIn 0.6s ease forwards;
    /* Використовуємо анімацію fadeIn з тривалістю 0.6 секунд */
}

.toolInfoBg1 {
    background: var(--Yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
}

.toolInfoBg2 {
    background: var(--Blue-Pink, linear-gradient(90deg, #8FE5EC 0%, #DDBAFC 100%));
}

.toolInfoBg3 {
    background: var(--Purple, linear-gradient(180deg, #FB2C8B 0%, #B114D3 100%));
}

.blurLogin {
    background: rgba(20, 25, 41, 0.40);
    backdrop-filter: blur(10px);
}

.textStyle * {
    color: black;
    font-family: Saira !important;
}

.checkbox-container {
    display: flex;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 3px solid #1E1E1E;
    border-radius: 100%;
}



.checkbox-container input:checked~.checkmark {
    background-color: #1E1E1E;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: #1E1E1E;
    border-radius: 100%;

}

.textStyle p {
    font-size: 12pt !important;
}

.placeBg {
    background: var(--Card-bg, linear-gradient(94deg, #711876 0%, #355FA3 100%));
}

@media screen and (max-width: 600px) {
    table {
        width: 100% !important;
        /* Змінюємо ширину таблиці для менших екранів */
    }

    .textStyle p {
        font-size: 10pt !important;
    }
}

.blur-image {
    filter: blur(115px);
    /* Змініть 5px на те значення, яке вам потрібно */
}

.custom-borderTask {
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
}

.withdrawBg1 {
    background: linear-gradient(179deg, #FFE69E -22.77%, #FDA92B 56.15%, #BC6117 113.63%);
}
.withdrawBg2 {
    background: linear-gradient(179deg, #3B689A -22.77%, #2B4868 56.15%, #1D3147 113.63%);
}
.withdrawBg3 {
    background: linear-gradient(179deg, #2C50A6 -22.77%, #2C4087 56.15%, #2A3061 113.63%);
}
.withdrawBg4 {
    background: linear-gradient(179deg, #B5F2E9 -22.77%, #6AC9BC 56.15%, #3E9589 113.63%);
}
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./images/NewDesign/withdraw/selectArrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    cursor: pointer;
    padding-right: 1rem;
    color: #1E1E1E;
    font-family: Inter;
    width: 100%;
    padding: 0.75rem;
}

.custom-select option[value="default"] {
    display: none !important;

}
@media screen and (max-height: 770px) and (min-width: 1200px) {
    .mac-overflow-fix {
        margin-top: -185px !important;
    }

    .refferals-selectMassege {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    .mac-img-width {
        width: 860px !important;
    }

    .double-subtitle {
        padding-top: 2px !important;
        padding-bottom: 4px !important;
    }

    .double-img-width {
        width: 210px !important;
        margin-bottom: -10px !important;
    }

    .referral-title {
        padding-bottom: 0px !important;
    }

    .timeCounter-title {
        font-size: 22px !important;
    }

    .contentForDesktop {
        margin-top: 0px !important;
    }

    .contentForCompetitions {
        margin-top: 8px !important;
    }

    .contentForDouble {
        margin-top: 40px !important;
    }

    .contentHomepage {
        margin-top: 20px !important;
    }
}

@media screen and (max-height: 870px) and (min-width: 1200px) {
    .mac-img-bottom {
        margin-bottom: 0px !important;
    }
}
@media screen and (max-width: 399px) {
    .homepageSE {
        margin-top: 0px !important;
    }
    .competitionSE {
        margin-top: 6px !important;
    }
    .raffleTicketsSE {
        margin-top: -30px !important;
    }
}