@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.text-gradient {
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-button {
    background: linear-gradient(#0A1225, #0A1225) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 12px;
    border: 2px solid transparent;
}

.gradient-userButton {
    background: linear-gradient(#28364C, #28364C) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 12px;
    border: 2px solid transparent;
}

.gradient-number {
    background: linear-gradient(#405C68, #405C68) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.gradient-gift {
    background: linear-gradient(#3D3456, #3D3456) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.gradient-gift {
    background: linear-gradient(#3D3456, #3D3456) padding-box,
        linear-gradient(to right, #FF1CBB, #088CD9) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.gradient-circle {
    background: linear-gradient(#0A1D2C, #0A1D2C) padding-box,
        linear-gradient(#111931, #2D4283, #2B58DE, #2D4283, #111931) border-box;
    border-radius: 100%;
    border: 5px solid transparent;
}

.gradient-line {
    border-radius: 50px;
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
}

.gradient-border {
    border-radius: 12px;
    border: 2px solid transparent;
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));

}

.gradient-milestone1 {
    background: var(--New-linear-3, linear-gradient(143deg, #02DF85 0%, #7D318E 47.76%, #2104D5 94.54%));
}

.gradient-milestone2 {
    background: var(--New-liner, linear-gradient(143deg, #E4034F 0%, #9E3DB3 47.76%, #0BE1DE 94.54%));
}

.gradient-milestone3 {
    background: linear-gradient(143deg, #F29B3C 0%, #F359BF 47.76%, #D40059 94.54%);
}

.gradient-milestoneHeader {
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
}

.gradient-progressBarBg {
    background: var(--Spectrum, linear-gradient(180deg, rgba(100, 97, 89, 0.05) 21.45%, rgba(255, 234, 180, 0.25) 100%));
}

.bg-milestone {
    background: var(--bg2, linear-gradient(171deg, #1D123B 0%, #1B325E 51.63%, #1D123B 99.13%));
}

.gradient-milestoneBtn {
    border-radius: 12px;
    border: 1px solid var(--Common-white, #F5F5F5);
    background: var(--Linear, linear-gradient(105deg, #FF1CBB -23.05%, #088CD9 88.21%));
    box-shadow: 0px 4px 20px 0px rgba(107, 74, 219, 0.70);
}

.saira {
    font-family: Saira !important;
}

.gradient {
    background: linear-gradient(to right, #FF1CBB, #088CD9);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(107, 74, 219, 0.70);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.transition-custom {
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    transition: 0.5s;
}

.black-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 56.85%, #000000e4 90.32%), transparent 50% / cover no-repeat;
}

.oveerflow-fix {
    padding-top: 100px !important;
}

.continue_button {
    background: var(--linear-dark, linear-gradient(105deg, #7A115B -23.05%, #0B5783 88.21%));
}

.scrollOff::-webkit-scrollbar {
    width: 0;
}

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #FFED63 !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 10px;
}

.animated-image {

    animation: scaleLoop 2s infinite;
}

@keyframes scaleLoop {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.input-fix {
    outline: none;
}

.gradient-homepageBtn {
    background: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%));
}

.gradient-headerBlock {
    border: 2px solid;
    border-image: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%)) 1;
    border-radius: 50px;
}

.gradient-timeCounter {
    background: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%));
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-link {
    background: var(--New-CS-yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline;
    position: relative;
    display: inline-block;
}

.gradient-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--New-CS-yellow, linear-gradient(180deg, #FE8648 0%, #FE804D 100%));
}

.gradient-linkDouble {
    background: var(--New-CS-yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-withdrawBorder {
    border-bottom: 2px solid;
    border-image: var(--Linear, linear-gradient(105deg, #8FE5EC -23.05%, #DDBAFC 88.21%)) 1;
    border-radius: 50px;
}

.gradient-tourToggle {
    background: linear-gradient(180deg, #FAD604 0%, #FE804D 100%);
}

.moving-element {
    transition: transform 0.5s ease;
    /* Анімація зміни положення зі згладжуванням */
}

.gradient-goodluck {
    background: linear-gradient(90deg, #FBD409 0.25%, #FF9141 32.18%, #FF3D7D 64.73%, #B415D7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dot-li {
    background: var(--New-CS-yellow, linear-gradient(180deg, #FAD604 0%, #FE804D 100%));
}